.searchBar{
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 60%;
    margin: auto;
    padding: 10px;
    box-shadow: 10px 10px 5px black;
}

.browseByCategory{

}

.searchTag{
    border: none;
    margin-left: 10px;
    font-size: 20px;
}

.searchResults{
   text-align: center;
   margin-top: 20px;
}

.searchTag:focus-visible{
    outline: none;
}

@media (max-width : 480px) {
    .browseByCategory{
        text-align: center;
    }

    .searchBar{
        width: 80%;
    }
}